* {
    box-sizing: border-box;
}

.wrapperportfolio {
    width: 960px;
    height: 850px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    clear: both;
    overflow: hidden;
    border-style: solid 50px;
    border-color: #dddddd;

}

.wrappercontact {
    width: 960px;
    height: 625px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    clear: both;
    overflow: hidden;
    border-style: solid 50px;
    border-color: #dddddd;

}

.wrapperindex {
    width: 960px;
    height: 500px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    clear: both;
    overflow: hidden;
    border-style: solid 50px;
    border-color: #dddddd;
    
}

.h1 {
    color: #4aaaa5;
    font-size: 40px;
}

.footer {
    box-sizing: border-box;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    bottom:0;
    width:100%;
    height:55px;
    color: white;
    position: fixed;

}

.header {
    width: 100%;
    height: 95px;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;

}

.headerindex {
    width: 100%;
    height: 95px;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;

}

.headerportfolio {
    width: 100%;
    height: 95px;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;

}


#logo {
    background-color: #4aaaa5;
    width: 275px;
    height: 95px;
    padding: 30px;
    margin-left: 188px;
    float: left;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

#container {
    min-height: calc(100vh - 264px);
}

.topnav a {
  float: right;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  right: 200px;
  position: relative;
  bottom: 0 auto;
  top: 60px;
}

.aboutme {
    width: 960px;
    background-color: white;
    color: #4aaaa5;
    border-bottom: 20px solid #dddddd;
}

.hr {
    display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  border-color: #cccccc;
}

.profilepic {
    float: left;
    top: 20px;
    height: 250px;
    width: 200px;

}

.bodycopy {
    width: 690px;
    float: right;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    top: 0 auto;
    line-height: 20px;
    overflow: auto;
    padding-bottom: 0px;
    padding-right: 100px;
    margin-bottom: 100px;
    word-wrap:break-word;    
}

.clearfix {
  float: right;
  padding-left: 180px;
  bottom: 100px;
}

.portfoliobox1 {
    float: left;
}

.portfoliobox2 {
    float: right;
    padding-right: 475px;
}

.portfoliobox3 {
    float: left;
    position: absolute;
    top: 495px;
}
.portfoliobox4 {
    float: right;
    padding-right: 400px;
    position: absolute;
    left: 461px;
    top: 497px;
}

.portfoliobox5 {
    float: right;
    padding-right: 400px;
    position: absolute;
    right: 535px;
    top: 715px;
}

.box1title {
    position: relative;
    width: 200px;
    height: 35px;
    margin: auto;
    margin-top: 25%;
    background:  #4aaaa5;
    text-align: center;
    color: white;
    bottom: 100px;
    font-size: 20px;
    padding: 5px 0;

}

#textbox {
    height: 200px;
    width: 700px;
    float: left;
    border-color: lightgray;
    padding-top: 0;
    padding-left: 0;

}

.submitbutton {
    background-color: #4aaaa5;
    color: white;
    width: 150px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.submitbutton:hover {
    background-color: darkolivegreen;
}

.pointer {
    cursor: pointer;
}

a:hover {
    color: lightcoral;
}
@media screen and (max-width: 980px) {
    .wrapperindex {
        width: 95%;
        height: 500px;
        background-color: #ffffff;
        clear: both;
        overflow: hidden;
        border-style: solid 50px;
        border-color: #dddddd;
        margin: 20px;
        margin-left: 25px;
    }
@media screen and (max-width: 980px) {
    .wrapperportfolio {
        width: 105%;
        height: 850px;
        background-color: #ffffff;
        margin: 0 auto;
        padding: 20px;
        margin-left: 25px;
        clear: both;
        overflow: hidden;
        border-style: solid 50px;
        border-color: #dddddd;
     }
    }
@media screen and (max-width: 980px) {
    .headerindex {
        width: 100%;
        height: 95px;
        background-color: #ffffff;
        border-bottom: 2px solid #cccccc;
    
        }   
    }

@media screen and (max-width: 980px) {
    .headerportfolio {
        width: 111%;
        height: 95px;
        background-color: #ffffff;
        border-bottom: 2px solid #cccccc;
    
    }
}
@media screen and (max-width: 980px) {         
    #logo {
        background-color: #4aaaa5;
        width: 275px;
        height: 95px;
        padding: 30px;
        margin-left: 30px;
        float: left;
        text-align: center;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
    }
}
@media screen and (max-width: 980px) { 
.topnav a {
    float: right;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    right: 50px;
    position: relative;
    bottom: 0 auto;
    top: 60px;
  }
}
@media screen and (max-width: 980px) { 
.portfoliobox2 {
    float: right;
    padding-right: 550px;
}
}
@media screen and (max-width: 980px) { 
.portfoliobox4 {
    float: right;
    padding-right: 400px;
    position: absolute;
    left: 277px;
    top: 497px;
}
}
@media screen and (max-width: 980px) {
.portfoliobox5 {
    float: right;
    position: absolute;
    right: 325px;
    top: 715px;
}
@media screen and (max-width: 980px) {
    .portfoliobox5 {
        float: right;
        position: absolute;
        right: 325px;
        top: 715px;
    }
}

@media screen and (max-width: 980px) {  
.bodycopy {
    width: 625px;
    float: right;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    top: 0 auto;
    line-height: 20px;
    overflow: auto;
    padding-bottom: 0px;
    padding-right: 100px;
    margin-bottom: 100px;
    word-wrap:break-word;    
}
}
@media screen and (max-width: 980px) {
    .footer {
        box-sizing: border-box;
        border-top: 8px solid #4aaaa5;
        background-color: #666666;
        text-align: center;
        bottom:0;
        width: 100%;
        height:55px;
        color: white;
    
    }
}
@media screen and (max-width: 768px) {
    .wrapperindex {
        width: 95%;
        height: 500px;
        background-color: #ffffff;
        margin-left: 10px;
        padding: 20px
        clear: both;
        overflow: hidden;
        border-style: solid 50px;
        border-color: #dddddd;
    }
}
@media screen and (max-width: 768px) {         
    #logo {
        background-color: #4aaaa5;
        width: 275px;
        height: 95px;
        padding: 30px;
        margin-left: 10px;
        float: left;
        text-align: center;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
    }
}
@media screen and (max-width: 768px) {  
    .bodycopy {
        width: 450px;
        float: right;
        color: #777777;
        font-family: Arial, Helvetica, sans-serif;
        top: 0 auto;
        line-height: 20px;
        overflow: auto;
        padding-bottom: 0px;
        padding-right: 100px;
        margin-bottom: 100px;
        word-wrap:break-word;    
    }
    }
    @media screen and (max-width: 768px) {
        .footer {
            box-sizing: border-box;
            border-top: 8px solid #4aaaa5;
            background-color: #666666;
            text-align: center;
            bottom:0;
            width: 100%;
            height:55px;
            color: white;
        
        }
    }
    @media screen and (max-width: 640px) {
        .wrapperindex {
            width: 95%;
            height: 400px;
            background-color: #ffffff;
            margin-left: 10px;
            padding: 20px
            clear: both;
            overflow: hidden;
            border-style: solid 50px;
            border-color: #dddddd;
        }
    }
    @media screen and (max-width: 640px) {
        .headerindex {
            width: 100%;
            height: 65px;
            background-color: #ffffff;
            border-bottom: 2px solid #cccccc;
        
            }   
        }
    @media screen and (max-width: 640px) {         
        #logo {
            background-color: #4aaaa5;
            width: 275px;
            height: 65px;
            padding: 30px;
            margin-left: 15px;
            float: left;
            text-align: center;
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 30px;
            text-align: center;
            padding: 1px;
            padding-top: 15px;
    
        }
    }
    @media screen and (max-width: 640px) { 
        .topnav a {
            float: right;
            color: gray;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            font-family: Arial, Helvetica, sans-serif;
            right: 35px;
            position: relative;
            bottom: 0 auto;
            top: 32px;
          }
        }
        @media screen and (max-width: 640px) { 
        .aboutme {
            width: 960px;
            background-color: white;
            color: #4aaaa5;
            border-bottom: 10px solid #dddddd;
        }
    }
    @media screen and (max-width: 640px) { 
    .h1 {
        color: #4aaaa5;
        font-size: 30px;
    }
}
@media screen and (max-width: 640px) { 
.profilepic {
    float: left;
    top: 20px;
    height: 150px;
    width: 120px;

}
}
@media screen and (max-width: 640px) {  
    .bodycopy {
        width: 425px;
        float: right;
        color: #777777;
        font-family: Arial, Helvetica, sans-serif;
        top: 0 auto;
        line-height: 20px;
        overflow: auto;
        padding-bottom: 0px;
        padding-right: 50px;
        padding-left: 35px;
        margin-bottom: 0 auto;
        word-wrap:break-word;    
    }
    }
    @media screen and (max-width: 640px) {
        .footer {
            box-sizing: border-box;
            border-top: 8px solid #4aaaa5;
            background-color: #666666;
            text-align: center;
            bottom:0;
            width: 100%;
            height:35px;
            color: white;
            font-size: 12px;
        
        }
    }